[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=django
Group=django
WorkingDirectory=/srv/DjangoCMSDemo
ExecStart=/usr/local/bin/gunicorn --pid /run/gunicorn/pid DjangoCMSDemo.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
